Repository angristan/larafeed: changes, and which lefthook commands are due for each by the changed paths.
All: pint, phpstan, biome, typecheck, test

pint:
  run: composer pint -- --test

phpstan:
  run: composer phpstan

biome:
  run: npm run lint-check

typecheck:
  run: npm run typecheck

test:
  run: composer test

Replace Playwright MCP with playwriter
  .mcp.json
  opencode.json
Due: none

Remove ide-helper packages
  _ide_helper.php
  _ide_helper_actions.php
  composer.json
  composer.lock
Due: pint, phpstan, test

Refactor URL param handling to use query-string library
  package-lock.json
  package.json
  resources/js/Pages/Reader/Components/DeleteFeedModal.tsx
  resources/js/Pages/Reader/CurrentEntryPane.tsx
  resources/js/Pages/Reader/EntryListPane.tsx
  resources/js/Pages/Reader/Sidebar.tsx
  resources/js/utils/queryString.ts
Due: biome, typecheck

Add Caddyfile for classic (non-Octane) mode
  deploy/Caddyfile.classic
Due: none

fix: remove ddtrace from Docker image
  .github/workflows/docker.yml
  deploy/Dockerfile
Due: none

feat: add ddtrace to Docker image
  deploy/Dockerfile
Due: none

feat: add Caddy+PHP-FPM and Nginx+PHP-FPM Docker images
  .github/workflows/docker.yml
  deploy/Caddyfile.fpm
  deploy/Dockerfile.caddy-fpm
  deploy/Dockerfile.nginx-fpm
  deploy/nginx.conf
  deploy/php-fpm.conf
  deploy/supervisord.caddy.conf
  deploy/supervisord.nginx.conf
Due: none

fix: use PHP 8.4 for FPM images (8.5 is still RC)
  deploy/Dockerfile.caddy-fpm
  deploy/Dockerfile.nginx-fpm
Due: none

fix: download install-php-extensions via curl instead of ADD
  deploy/Dockerfile.caddy-fpm
  deploy/Dockerfile.nginx-fpm
Due: none

fix: add gnupg package for caddy repo setup
  deploy/Dockerfile.caddy-fpm
Due: none

fix: use PHP 8.5-rc for FPM images to match composer.json
  deploy/Dockerfile.caddy-fpm
  deploy/Dockerfile.nginx-fpm
Due: none

fix: remove brotli from Caddyfile, set nginx user to www
  deploy/Caddyfile.fpm
  deploy/nginx.conf
Due: none

fix: use port 9000 for php-fpm instead of socket
  deploy/Caddyfile.fpm
  deploy/nginx.conf
Due: none

chore: remove ddtrace from FPM Dockerfiles (using auto-injection)
  deploy/Dockerfile.caddy-fpm
  deploy/Dockerfile.nginx-fpm
Due: none

docs: add performance tuning guide for Octane vs classic mode
  docs/self-hosting.md
Due: none

chore: remove unused Caddyfile.classic
  deploy/Caddyfile.classic
Due: none

fix: restore Caddyfile.classic for non-Octane mode
  deploy/Caddyfile.classic
  deploy/Caddyfile.octane
  deploy/run-web.sh
  docker-compose.yml
  docs/self-hosting.md
Due: none

refactor: move docker-compose setup to deploy/
  .gitignore
  deploy/.env.compose
  deploy/docker-compose.yml
  docs/self-hosting.md
Due: none

ci: always pull fresh base images in Docker build
  .github/workflows/docker.yml
Due: none

feat: add two-factor authentication with Laravel Fortify
  AGENTS.md
  app/Actions/Fortify/CreateNewUser.php
  app/Actions/Fortify/PasswordValidationRules.php
  app/Actions/Fortify/ResetUserPassword.php
  app/Actions/Fortify/UpdateUserPassword.php
  app/Actions/Fortify/UpdateUserProfileInformation.php
  app/Actions/User/ShowSettings.php
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Models/User.php
  app/Providers/FortifyServiceProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/fortify.php
  database/migrations/2026_01_02_152717_add_two_factor_columns_to_users_table.php
  resources/js/Pages/Auth/TwoFactorChallenge.tsx
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Settings/components/SettingsSidebar.tsx
  resources/js/Pages/Settings/sections/TwoFactorSettings.tsx
  resources/js/Pages/Settings/types.ts
  routes/auth.php
Due: pint, phpstan, biome, typecheck, test

feat: encode settings tab in URL
  resources/js/Pages/Settings/Index.tsx
Due: biome, typecheck

chore: remove Laravel Sail
  AGENTS.md
  composer.json
  composer.lock
Due: none

fix: remove redundant instanceof checks for MustVerifyEmail
  app/Actions/Fortify/UpdateUserProfileInformation.php
  app/Actions/User/ShowSettings.php
Due: pint, phpstan, test

fix: downgrade PHP requirement to 8.4 and replace pipe operator syntax
  app/Actions/Entry/ProxifyImagesInHTML.php
  app/Actions/OPML/ExportOPML.php
  app/Http/Requests/Auth/LoginRequest.php
  composer.json
  composer.lock
Due: pint, phpstan, test

feat: add OpenTelemetry tracing alongside Datadog instrumentation
  .env.example
  app/Actions/Entry/ApplySubscriptionFilters.php
  app/Actions/Entry/SummarizeEntryWithLLM.php
  app/Actions/Feed/CreateNewFeed.php
  app/Actions/Feed/FetchFeed.php
  app/Actions/Feed/IngestFeedEntries.php
  app/Actions/Feed/RefreshFavicon.php
  app/Actions/Feed/RefreshFeed.php
  app/Actions/OPML/ImportOPML.php
  app/Actions/ShowFeedReader.php
  app/Support/Tracing.php
  composer.json
  composer.lock
  config/opentelemetry.php
  deploy/Dockerfile
  tests/Feature/OpenTelemetryTest.php
Due: pint, phpstan, test

fix: use assertNotNull instead of isRecording in OTel tests
  tests/Feature/OpenTelemetryTest.php
Due: pint, phpstan, test

fix: add grpc PHP extension to Docker image for OpenTelemetry transport
  deploy/Dockerfile
Due: none

fix: strip setcap from frankenphp for PSS restricted compatibility
  deploy/Dockerfile
Due: none

remove unused grpc PHP extension from Docker build
  deploy/Dockerfile
Due: none

add Docker build layer caching via GitHub Actions cache
  .github/workflows/docker.yml
Due: none

disable OTel SDK during Docker build to prevent GrpcTransportFactory error
  deploy/Dockerfile
Due: none

fix: use explicit safe URL in RefreshFeed tests to avoid DNS-dependent failures in CI
  tests/Feature/Feed/RefreshFeedTest.php
Due: pint, phpstan, test

chore: upgrade laravel/boost from v1.8 to v2.x
  .agents/skills/developing-with-fortify/SKILL.md
  .agents/skills/developing-with-prism/SKILL.md
  .agents/skills/developing-with-prism/references/relay.md
  .agents/skills/inertia-react-development/SKILL.md
  .agents/skills/pennant-development/SKILL.md
  .claude/settings.local.json
  .claude/skills/developing-with-fortify/SKILL.md
  .claude/skills/developing-with-prism/SKILL.md
  .claude/skills/developing-with-prism/references/relay.md
  .claude/skills/inertia-react-development/SKILL.md
  .claude/skills/pennant-development/SKILL.md
  .codex/config.toml
  AGENTS.md
  CLAUDE.md
  boost.json
  composer.json
  composer.lock
Due: none

refactor: remove forwardRef for React 19, delete unused UserButton
  resources/js/Components/Breeze/TextInput.tsx
  resources/js/Components/UserButton/UserButton.module.css
  resources/js/Components/UserButton/UserButton.tsx
Due: biome, typecheck

chore: remove datadog browser rum integration
  .env.example
  app/Http/Middleware/HandleInertiaRequests.php
  config/services.php
  package-lock.json
  package.json
  resources/js/app.tsx
  resources/js/types/index.d.ts
Due: pint, phpstan, biome, typecheck, test

fix: align image proxification, favicon brightness, and filter format with Laravel
  internal/handler/feed.go
  internal/service/favicon.go
  internal/service/filter.go
  internal/service/filter_test.go
  internal/service/imgproxy.go
  internal/service/imgproxy_test.go
Due: none

Path conditions:
  pint: any of: *.php
  phpstan: any of: *.php
  biome: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
  test: any of: *.php
